.hero {
    background-color: #1f2937;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.headerbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px
}
.nav {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;

}
.heroMain {
    display: flex;
    max-width: 960px;
    align-self: center;
    gap: 10px;
}
.heroLeft h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
h1, p {
    margin: 10px;
}
.heroLeft p {
    font-size: 18px;
    color: #b9bcc2;
}
button {
    margin: 10px;
    background-color: #3882f6;
    padding: 10px 25px;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    text-align: center;
}
a {
    text-decoration: none;
    color: grey;
}

ul {
    list-style: none;
    gap: 10px;
}
li {
    margin: 0px;
    padding: 0px;
}
body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
}