/* Section 1: Header + Hero text */
.hero {
    background-color: #1f2937;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.headerbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px
}
.nav {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;

}
.heroMain {
    display: flex;
    max-width: 960px;
    align-self: center;
    gap: 10px;
}
.heroLeft h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
h1, p {
    margin: 10px;
}
.heroLeft p {
    font-size: 18px;
    color: #b9bcc2;
}
button {
    margin: 10px;
    background-color: #3882f6;
    padding: 10px 25px;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    text-align: center;
}

/* End Section 1 */

/* Section 2: Information */
.infoContainer {
    text-align: center;
    height: 500px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-bottom: 20px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 52px;
}
.imgtext {
   max-width: 200px;
}
.imgtext img {
    border-radius: 25px;
}
/* End Section 2 */

/* Start Section 3 */
.quotecontainer {
    background-color: #E5E7EB;

}
.quote {
        max-width: 600px;
        margin: 0px auto;
        padding: 100px;
}
.quote p {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}
.quote h3 {
    text-align: end;
}

/* End Section 3 */

/* Start Section 4 */
.actioncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;

}
.actionbox {
    background-color: #3882f6;
    margin: 0;
    padding: 50px;
    display: flex;
    gap: 100px;
    border-radius: 15px;

}
.textbox {
    text-align: left;
}
.textbox h3, .textbox p {
    margin: 0;
    color: white;
}

.actionbox button {
    border: 1px solid white;
    padding: 0px 30px;
    margin: 0;

}



/* End Section 4 */
a {
    text-decoration: none;
    color: grey;
}

ul {
    list-style: none;
    gap: 10px;
}
li {
    margin: 0px;
    padding: 0px;
}
body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
}